<!DOCTYPE html>
{%load static%}
<html lang="en">
<link href="{% static '1.css' %}" rel="stylesheet">
<head>
	<meta charset="UTF-8">
	<title>Introduction of five characteristics</title>
</head>
<body>
	<div id = 'login'>
		{% if request.user.is_authenticated %}
            <p>{{request.user}} 您已經登入囉</p>
            <a href="logout">登出</a>
    	{% else %}
            <p>您尚未登入喔~<a href="/intro?page=register">註冊</a></p>
    	{% endif %}
    </div>
    <div id = 'introduction'>
        <div class = 'blocks' style = "height:200px">
    		<h1>歷史</h1>
    		<h2>從1980年代開始，人格研究學家們在人格描述上取得了一個共識，提出了一個由五大因素所組成的人格模型，被稱為“大五人格”。</h2>
    	</div>
    	<div class = 'blocks'>
    		<h1>分類</h1>
    		<h2>
    			<ul>
      				<li>經驗開放性(Openness)：富有想像力、具有創造力、具獨特觀點、喜歡探索、思考靈活。</li>
      				<li>盡責性(Conscientiousness)：做事有條理、按部就班、有責任感。</li>
      				<li>外向性(Extraverion)：充滿熱情、樂於參與、社交、健談、自信。</li>
      				<li>親和性(Agreeableness)：善解人意、樂於助人、很好相處。</li>
      				<li>神經質(Neuroticism)：懂得察言觀色、容易焦慮、衝動行事。</li>
    			</ul>  
    		</h2>
    	</div>
    	<div class = 'blocks' style = "height:280px">
    		<h1>應用</h1>
    		<h2>五大人格特質可以應用在求職及求學方面，可以幫助學生以及待業者找出適合自己個性的科系或是工作。例如：外向性較高的學生可能比較適合就讀社會科學方面的相關科系；外向性較高的待業者可能比較適合從事業務方面的工作。</h2>
        </div>
    </div>
</body>
</html>
