<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
	
	<div id="personality">
		<div class="single_personality">
			<a href="/Openness?sub=1">
				<img src='static/asset/ope.png'>
				<h1 class="title-2">經驗開放性</h1>
			</a>
		</div>
		<div class="single_personality">
			<a href="/Conscientiousness?sub=1">
				<img src='static/asset/con.png'>
				<h1 class="title-2">盡責性</h1>
			</a>
		</div>
		<div class="single_personality">
			<a href="/Extraversion?sub=1">
				<img src='static/asset/extra.png'>
				<h1 class="title-2">外向性</h1>
			</a>
		</div>
		<div class="single_personality">
			<a href="/Agreeableness?sub=1">
				<img src='static/asset/con.png'>
				<h1 class="title-2">親和性</h1>
			</a>
		</div>
		<div class="single_personality">
			<a href="/Neuroticism?sub=1">
				<img src='static/asset/con.png'>
				<h1 class="title-2">神經質</h1>
			</a>
		</div>
	</div>	
	<div>
		{{personality}}
	</div>
	<div>
		{{introductp}}
	</div>
	<div>
		{{introduction}}
	</div>
	<div>
		{{highscore}}
	</div>
	<div>
		{{highscoreIntro}}
	</div>
	<div>
		{{lowscore}}
	</div>
	<div>
		{{lowscoreIntro}}
	</div>




</body>
</html>
