<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Know Yourself</title>
	<link rel="stylesheet" href="static/realize.css">
</head>
<body>

	<div id ="account-container">
		<form>
			帳號：<input type="text" style = "font-size: 50px" name="欄位名稱">
		</form>
	</div>
	<div id ="account-container">
		<form>
			密碼：<input type="text" style = "font-size: 50px" name="欄位名稱">
		</form>
	</div>
	<div id = "login-container">
		<button type="button"><a href="/intro?page=1 ">登入</a></button>
	</div>
</body>
</html>
