<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>More Information</title>
	<link rel="stylesheet" href="static/more.css">
</head>
<body>
	
	<div id ="description-container">
		<p id="intro" style="font-size:160%;">1. 追蹤我們的粉絲專頁：<a href="https://www.instagram.com/image_lab_official/?hl=zh-tw">IG粉絲專頁</a></p>
		<p id="intro" style="font-size:160%;">2. 分享我們的問卷給更多朋友：<a href="https://docs.google.com/forms/d/e/1FAIpQLSdwAZ_1Caa7gJlIjKZKXAs7UQqqLc8WdBvzKe4h9zRpnKBr5Q/viewform?usp=sf_link">問卷</a></p>
		<p id="intro" style="font-size:160%;">3. 聯絡我們：imagedbwei@gmail.com</p>
		<p id="intro" style="font-size:160%;">4.更多人格問卷介紹：<a href="https://docs.google.com/forms/d/e/1FAIpQLSdwAZ_1Caa7gJlIjKZKXAs7UQqqLc8WdBvzKe4h9zRpnKBr5Q/viewform?usp=sf_link">MBTI</a>、<a href="https://zh.wikipedia.org/wiki/霍爾蘭六邊形">霍爾蘭六邊形</a></p>
	</div>
</body>
</html>
