<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Introduction of Extraversion</title>
	<link rel="stylesheet" href="E_introduction.css">
</head>
<body>
	<div>
		<h1>介紹</h1>
		<h2>
			經驗開放性(Openness to experience)是大五人格中的一個心理學概念，可以用來衡量人格的某一類特質。經驗開放性可以用來衡量一個人是否具備活躍的想像力、審美觀、對內心感受的專注力、對事物的喜好及求知慾。
		<h2>
			經驗開放性呈現常態分佈，只有少數人能夠分散在極高分及極低分，大多數人的分數會集中在平均數左右。而經驗開放性程度較低者會被認為是「經驗封閉」，行事及想法通常較為傳統，喜歡熟悉的事物，對於新的事物較為抗拒，通常興趣不廣泛。
		</h2>
		<div id = image_container>
			<img src ="openness_dinosaur.jpg" alt="經驗開放性恐龍圖" width = 500px height = 500px>
		</div>
</html>
