<!DOCTYPE html>
<!-- <html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homepage</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<div id="intro-container">
		<p id="intro">ginoluvwendy</p>
	</div>
	<div id="explore-container">
		<button><a href="/intro?page=1 ">explore</a></button>
	</div>
</body>
</html> -->
<style>
  li{list-style: none;}/*这里设置*/
</style>
<html>
	<head>
		<title>Homepage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="">Deep IG <span>/     by NTUIM ImageLab</span></a></div>
				<!-- <a href="#menu" class="toggle"><span>Menu</span></a> -->
			</header>

		<!-- Nav -->
			<!-- <nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav> -->

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="images/banner">
				<div class="inner" style = "display : block;">
					<li><img src='static/asset/logo_white_deep.png' width="120" height="120"></li>
					<li><img src='static/asset/DIG.png'width="100" height="60"></li>
					<!-- <p>雖然不知道要寫什麼，但我也不想分享乳酪蛋糕的製作方式。<br />
					built by <a href="https://templated.co/">Templated</a> and released under the <a href="https://templated.co/license">Creative Commons</a>.</p> -->
					<li><img src='static/asset/Group 14.png'width="60" height="10">></li>
					<a href="/intro?page=1 "><img src='static/asset/Group 12.png' width="360" height="100"></a>
				</div>

			</section>