<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>intro</title>
	<link rel="stylesheet" href="static/intro.css">
</head>
<body>
	<div id="button-container">
		<button type="button"><a href="/intro?page=1 ">人格測驗介紹</a></button>
		<button type="button"><a href="/intro?page=2 ">五個小恐龍</a></button>
		<button type="button"><a href="/intro?page=3 ">了解自我</a></button>
		<button type="button"><a href="/intro?page=4 ">更多資訊</a></button>
	</div>
	
	<div>
		{% extends gg %}	
	</div>
	
</body>
</html>
