<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>intro</title>
	<!-- <link rel="stylesheet" href="static/intro.css"> -->
	<link href="static/intro.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="button-container">
			<h1 id="projectName">Deep IG</h1>
		<button type="button"><a href="/intro?page=1 ">人格測驗介紹</a></button>
		<button type="button"><a href="/intro?page=2&sub=1 ">五個小恐龍</a></button>
		<button type="button"><a href="/intro?page=3 ">了解自我</a></button>
	</div>
	
	<div>
		{% extends gg %}	
	</div>

</body>
</html>
<style>
#navbar_1{
  width: 1920px;
  height: 206px;
  background-color: rgba(0, 0, 0, 0.29);
}
</style>
