#introduction{
    width:1000px;
    height:1300px;
    background-color:#3d0099;
    border-radius: 68px;
    margin:auto;
    margin-bottom: 20px;
    padding-top:10px;
    padding-left:20px;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.16);
}

.blocks{
    width:800px;
    height:400px;
    background-color: white;
    border-radius: 63px;
    margin:auto;
    margin-top:50px;
    padding:30px;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.blocks>h1{
    width:200px;
    height:50px;
    background-color:#dbdbdb;
    border-radius: 68px;
    margin:auto;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 3.48px;
    text-align: center;
    color: black;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.16);

}
.blocks>h2{
    margin:auto;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2.48px;
    text-align: left;
    color: black;
}

#login{
    background-color: #f1f1f1;
    margin:50px auto ;
    width:250px;
    height:50px;
    border-radius:68px; 
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 2.48px;
    text-align: center;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.16);
}