body{
	margin: 0;
}

#account-container{
	display: flex;
	justify-content: center;
	background: yellow;
	font-size: 50px;
}

#login-container{
	display: flex;
	justify-content: center;
}
#login-container>button{
	width: 270px;
	height: 40px;
	border-width: 0px;
	border-radius: 3px;
	background: #1E90FF;
	cursor: pointer;
	outline: none;
	font-family: Microsoft YaHei;
	color: white;
	font-size: 17px;
}