body{
	margin: 0;
}

.login-container{
	margin: auto;
	margin-top: 6%;
	width: 400px;
	height: 400px;
	border-radius: 10%;
	opacity: 0.94;
	box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.16);
	background-color: #f9f3ff;
	text-align: center;
	padding: 3%;
}
h1{
	font-family: Roboto;
	font-size: 63px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
}
.title-1{
  opacity: 0.67;
  line-height: 1.21;
  text-align: center;
  color: #000000;
  margin: 0;
}
.title-2{
	opacity: 0.26;
	font-weight: bold;
	line-height: 1.21;
	letter-spacing: 1.01px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	
}
.account_input{
	background-color: #ffffff;
	border-radius: 10%;
	display: block;
	margin-left: 5%;
	height: 7%;
	width: 80%;
	border: none;
	outline: none;
}
.block_container{
	/* width: 1097.8px;
	height: 1696.4px;
	opacity: 0.94;
	box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.16);
	background-color: #ffffff; */
	background-color: green;
}
/* #account-container{
	display: flex;
	justify-content: center;
	background: yellow;
	font-size: 50px;
}

#login-container{
	display: flex;
	justify-content: center;
}
#login-container>button{
	width: 270px;
	height: 40px;
	border-width: 0px;
	border-radius: 3px;
	background: #1E90FF;
	cursor: pointer;
	outline: none;
	font-family: Microsoft YaHei;
	color: white;
	font-size: 17px;
} */